<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--Swagger项目名称-->
  <add key="SwaggerAppName" value="财税项目Api接口文档" />
  
  <!--数据库连接字符串-->
  <add key="ConnectionString" value="server=39.99.159.18;uid=sa;pwd=sctxj.com.cn;database=TXJ_Web;" />

  <!--接口域名-->
  <add key="domain" value="https://wx.csbwbd.com" />
  <!--<add key="domain" value="http://localhost:9400/" />-->
</appSettings>